a {
  text-decoration: none;
  color: rgb(66, 66, 66);
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
}

.logo {
  width: 5%;
}

.body {
  display: flex;
  flex-wrap: wrap;
}

.restaurant-list {
  flex-wrap: wrap;
  display: flex;
  margin: auto 5%;
  justify-content: flex-start;
  min-height: 75vh;
}

.restaurant-list a {
  text-decoration: none;
  color: rgb(66, 66, 66);
}

.restaurant-card {
  width: 330px;
  height: auto;
  padding: 10px;
  margin: 10px;
  font-size: 0.75rem;
  background-color: #ffffff !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;
  border: 0.1rem solid transparent;
}

.restaurant-card:hover {
  border: 0.1rem solid rgb(232, 232, 232);
  border-radius: 20px;
  box-shadow: rgba(28, 28, 28, 0.12) 0px 0.4rem 1.8rem;
}

.restaurant-card > .restaurant-image {
  width: 100%;
  border-radius: 20px;
}

.restaurant-details {
  padding: 5px 10px 10px 10px;
  font-size: 0.9rem;
}

.restaurant-details > h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.2rem;
  color: rgb(44, 44, 44);
  margin-bottom: 6px;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.restaurant-card.shimmer {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 1000px 100%;
  animation: shimmer 1.5s infinite linear;
  height: 280px;
}

.restaurant-card.shimmer > .restaurant-image {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 1000px 100%;
  animation: shimmer 1.5s infinite linear;
}

.shimmer-list {
  display: flex;
  flex-wrap: wrap;
}

/* a {
  text-decoration: none; 
  color: inherit; 
  outline: none; 
} */

container {
  display: "flex";
  flex-direction: "column";
  align-items: "center";
  justify-content: "center";
  height: "80vh";
}
image {
  max-width: "100%";
  max-height: "50vh";
  margin-bottom: "20px";
}

.subtext {
  font-size: "22px";
  font-weight: "bold";
  cursor: "pointer";
}

.subtext:hover {
  text-decoration: underline;
  color: blue;
}
